<ion-view title="create">
    <ion-content class="scrollable" padding="true">
      <div class="ent-menu">
          <span on-tap="changeTab('themes')" ng-class="{'menu-active':tab == 'themes'}" class="menu-ls">THEMES<sup ng-show="selectedThemes.length">{{selectedThemes.length}}</sup></span>
          <span on-tap="changeTab('speakers')" ng-class="{'menu-active':tab == 'speakers'}" class="menu-ls">SPEAKERS<sup ng-show="selectedSpeakers.length">{{selectedSpeakers.length}}</sup></span>
          <span on-tap="changeTab('places')" ng-class="{'menu-active':tab == 'places'}" class="menu-ls">PLACES<sup ng-show="selectedPlaces.length">{{selectedPlaces.length}}</sup></span>
      </div>
      <div class="ent-rightmenu">
          <div ng-click="reset()">reset</div>
          <div ng-click="goBack()">back</div>
      </div>


      <ion-scroll direction="x" scrollbar-x="false" delegate-handle="tabs">

          <div class="ent-pane">
          <div ng-show="tab=='themes'" class="ent-list" ng-repeat="t in keys(themes)">
              <div class="first-letter">{{t}}</div>
              <div class="word-list">
                <div ng-class="{'tag-sel':w.selected}" on-tap="toggleEntity(w)" ng-repeat="w in themes[t] track by $index" class="word"><i ng-show="w.selected" class="ion-close-circled"> </i> {{w.name}}</div>
              </div>
          </div>

            <div ng-show="tab=='speakers'" class="ent-list" ng-repeat="t in keys(speakers)">
                <div class="first-letter">{{t}}</div>
                <div class="word-list">
                    <div ng-class="{'tag-sel':w.selected}" on-tap="toggleEntity(w)" ng-repeat="w in speakers[t] track by $index" class="word"><i ng-show="w.selected" class="ion-close-circled"> </i> {{w.name.split(",")[0]}}</div>
                </div>
            </div>

            <div ng-show="tab=='places'" class="ent-list" ng-repeat="t in keys(places)">
                <div class="first-letter">{{t}}</div>
                <div class="word-list">
                    <div ng-class="{'tag-sel':w.selected}" on-tap="toggleEntity(w)" ng-repeat="w in places[t] track by $index" class="word"><i ng-show="w.selected" class="ion-close-circled"> </i> {{w.name}}</div>
                </div>
            </div>
        </div>
      </ion-scroll>

        <ion-scroll class="chunk-scroll" scrollbar-x="false" direction="x" delegate-handle="chunks">
            <div class="help-3-cont" ng-show="!chunks.length">
                <div class="help-3-ar"><i class="ion-android-arrow-up"></i></div>
                <div class="help-3-txt">Select a maximum of 3 topics among themes, speakers or places to create a new video</div>
            </div>
            <div class="chunk-pane">
<!-- on-tap="deselectChunk(c.id, $index)"
                  ion-stop-event="tap"
ng-class="{'selected-chunk': selectedChunk==c.id}"
                -->
                <div
                  ng-repeat="c in chunks"
                  id="{{c.id}}"
                  class="chunk-container"
                  ng-style="{'transform':'translate3d('+$index * 295+'px, 0, 0)'}"
                  on-tap="selectChunk(c.id, $index)"
                  index="{{$index}}"
                  chunkcontainer
                >
                  <div
                    class="chunk"
                    ng-style="{'background-image':'url('+getThumb(c)+')'}"
                    ng-class="{'selected-chunk': selectedChunk.id==c.id}"
                    >
                    <!-- <div class="chunk-control" ng-class="{'chunk-control-unselected': selectedChunk != c.id && selectedChunk}"> -->
                      <div class="chunk-control" ng-if="selectedChunk.id ==c.id?1:0" ng-class="{'chunk-control-selected': selectedChunk.id == c.id}">


                        <div class="row" >
                          <div class="col">
                            <div class="chunk-time">{{ c.duration*1000| date:'mm:ss'}} min</div>
                            <span class="chunk-title" ng-repeat="s in c.speakers">{{s.name.split(",")[0]}}{{$last ? '' : ', '}}</span>
                          </div>
                        </div>

                        <div class="row chunk-swap" >
                          <div class="col">
                            <div ion-stop-event="tap" on-tap="swapVideo('start',$index,c.id)" ng-disabled="$first"  class="chunk-move button button-icon icon ion-ios-skipbackward"></div>
                            <div ion-stop-event="tap" on-tap="swapVideo(-1,$index,c.id)" ng-disabled="$first" class="chunk-move button button-icon icon ion-arrow-left-b" ></div>
                            <div ion-stop-event="tap" on-tap="swapVideo(1,$index,c.id)" ng-disabled="$last" class="chunk-move button button-icon icon ion-arrow-right-b" ></div>
                            <div ion-stop-event="tap" on-tap="swapVideo('end',$index,c.id)" ng-disabled="$last" class="chunk-move button button-icon icon ion-ios-skipforward" ></div>
                          </div>
                        </div>

                          <div class="row">
                            <div class="col col-40 col-offset-10">
                              <div ion-stop-event="tap" class="chunk-button" on-tap="gotoPreview(c.id)">info</div>
                            </div>
                            <div class="col col-40">
                              <div ion-stop-event="tap" class="chunk-button" on-tap="removeChunk($index)">remove</div>
                            </div>
                            <div class="col col-10">
                            </div>
                          </div>

                    </div>
                  </div>

                </div> <!-- end ng repeat -->
            </div>
        </ion-scroll>
        <timeline></timeline>
        <div ng-show="chunks.length" on-tap="play()" class="play-button">
            <i class="ion-ios-play play"></i>
        </div>

      <div class="help-limit" ng-show="limitReached">

        You already selected 3 topics.
        <br/>
        Play the sequence or remove one of the existing selections.

      </div>

    </ion-content>
</ion-view>
