<div class="timeline-cont">
    <div class="timeline-base">
        <div class="timeline">
            <div class="timeline-chunks">
            <div class="timeline-chunk" on-tap="selectVideo(c)" ng-repeat="c in chunks" ng-style="{'width':computeWidth(c.duration)}">
              <span ng-class="{'selected':selectedChunk==c.id}">
                <span ng-show="isCurrent(c.id)" class="timeline-current" ng-style="{'width':currTime+'%'}"></span>
              </span>
            </div>
            </div>
        </div>
    </div>
    <span ng-show="chunks.length" class="time-duration">
      <span ng-show="currchunk">{{currchunk.duration | dateFilter}} /</span> {{totalTime | dateFilter}}</span>
</div>
