/* Empty. Add your own CSS if you like */
@font-face {
  font-family: 'graphik';
  src: url('../fonts/Graphik-Medium-Web.ttf'); /* IE9 Compat Modes */
}

*{
  font-family:'graphik';
}

body, .pane, .view{
    background:black;
    color:white;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    color:white;
}
/*
* INITIAL PAGE
*/

.start-tab{
    height:50vh;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
    font-size:3em;
    text-align: center;

    justify-content: center;
}
.start-tab span {
    padding:2% 6%;
    border:2px solid white;
}

/*
* CREATE PAGE
*/

.ent-menu{
    height:45px;
    line-height:45px;
    padding-left:20px;
    float:left;
}
.ent-rightmenu{
    float:right;
    padding-right:20px;
    height:45px;
    margin-top:13px;
}
.ent-rightmenu div{
    float:left;
    padding:0px 7px;
    margin-left:10px;
    border:1px solid white;
}
.scroll-view{
    width: calc(100% - 40px);
    margin-left: 20px;
    margin-right: 20px;
}
.menu-ls{
    padding-right:50px;
    font-size:1.3em;
    color:#999;
}
.menu-ls.menu-active{
    color:white;
    text-decoration: underline;
}
.ent-pane{
    height:calc(50vh - 85px);
    padding-top:40px;
    margin-bottom:40px;
    width: -webkit-max-content;
    width:max-content;
    white-space: nowrap;
}
.chunk-pane{
    height:calc(40vh - 45px);
    width: -webkit-max-content;
    width:max-content;
    white-space: nowrap;
}
.scroll {
    width:auto !important;
    min-width: 100% !important;
}
.ent-list,.first-letter,.word-list{
    float:left;
}
.ent-list{
    margin-right:50px;
    height:100%;
}
.first-letter{
    font-size: 4em;
    text-transform: uppercase;
    padding-right:20px;
    padding-left:20px;
}
.word{
    color:#999;
    width: auto;
    display: block;
}
.word-list{
    -moz-column-count:2;
    -webkit-column-count:2;
    column-count:2;
    height: 40px;
    height:100%;
}


.tag-sel{
    color:black;
    background:white;
    text-decoration: none;
    padding:2px 5px;
}
.chunk{
    width:480px;
    max-width:480px;
    float:left;
    height:100%;
    margin:0 5px 0 5px;
    -webkit-transition: all 0.15s linear;
    -moz-transition: all 0.15s linear;
    transition: all 0.15s linear;
}
.chunk.ng-leave.ng-leave-active,
.chunk.ng-enter {
    opacity: 0;
    width: 0;
}
.chunk.ng-leave,
.chunk.ng-enter.ng-enter-active {
    opacity: 1;
    width: 480px;
}
.chunk-duration{
    float:left;
    margin:10px 0 0 10px;
}
.chunk-title{
    font-size: 1.5em;
    padding-top: 10px;
    /* height: 200px; */
    text-align: left;
    -webkit-transition: all 0.15s linear;
    -moz-transition: all 0.15s linear;
    width: 90%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 35px;
}
.chunk-meta{
    font-size:.8em;
    position:absolute;
    bottom:0;
    left:0;
    background-color:rgba(0,0,0,0.6);
    padding:10px;
}
.chunk-remove{
    float:right;
    margin:0px 10px 0 0;
    font-size:2em;
    line-height:40px;
}
.chunk-main{
    margin:5% 0 0 0;
    position:relative;
    background-position: center center;
    top:0;
    height:80%;
    -webkit-transition: all 0.15s linear;
    -moz-transition: all 0.15s linear;
}
.chunk-main.selected-chunk{
    margin:0 0px 0 0px;
    top:3%;
    height:100%;
    width:480px;
    z-index:2;
}
.blurred-chunk{
    -webkit-filter: blur(10px);
}
.chunk-scroll {
    overflow: visible !important;
}
.play{
   font-size:25px;
}
.timeline-cont{
    width:100%;
    height:45px;
    margin-top:10px;
  padding: 0 20px;
  clear: both;
}
.play-button{
    text-align: center;
    width: 35px;
    height: 45px;
    height: 35px;
    /* padding: 6px; */
    padding-left: 3px;
    border: 2px solid white;
    border-radius: 100%;
    line-height: 28px;
    margin: -5px auto 0px auto;
}

.timeline{
    height:100%;
    width:calc(100% - 40px);

}
.timeline-line{
    width: 100%;
    height: 1px;
    border-top: 1px solid white;
    margin: 22px auto 0 auto;
}
.timeline-base{
    width:calc(100%);
    margin:0 auto;
    height:100%;
    position:relative;
    overflow:hidden;
}
.timeline-chunk{
    height:45px;
    border-radius: 2px;
    margin-top:calc(22px - 3px);
    float:left;
    padding:0 3px;
    border:none;
    -webkit-transition: all 0.15s linear;
    -moz-transition: all 0.15s linear;
}
.timeline-chunk span{
    width:100%;
    height:6px;
    background-color:#666;
    display: block;
    border-radius: 4px;
}
.timeline-chunk.ng-leave.ng-leave-active,
.timeline-chunk.ng-enter {
    width: 0;
    opacity:0
}
.timeline-chunk.ng-leave,
.timeline-chunk.ng-enter.ng-enter-active {
    width: 640px;
    opacity:1;
}
.timeline-chunk span.selected{
    background-color:#fff;
}
.timeline-chunks{
    position:absolute;
    width:100%;
    top:0;
    height:100%;
}
.chunk-control{
    height:100%;
    background-color:rgba(0,0,0,0.5);
    wdith:100%;
    -webkit-transition: all 0.15s linear;
    -moz-transition: all 0.15s linear;
}
.chunk-control.ng-leave.ng-leave-active,
.chunk-control.ng-enter {
    height:0;
    opacity:0;
}
.chunk-control.ng-leave,
.chunk-control.ng-enter.ng-enter-active {
    height: 40px;
    opacity:1;
}
.chunk-play{
    position: relative;
    height:36px;
    width:100%;
    top:50%;
    line-height:36px;
    float:left;
    text-align: center;
    padding:3px 5px;
}
.chunk-play span {
    border:1px solid white;
    padding:0px 15px;
    margin:0 5px;
    width:200px;
    display:inline-block;
}
.chunk-overlay{
    background-color:black;
    z-index:1;
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
}
.chunk-move{
    margin-top:0px;
    text-align:center;
    font-size:3em;
    margin-bottom:-100px;
    height: 100px;
}
.chunk-move i {
    display:inline-block;
    margin:0 36px;
    height:100px;

}
.help-3-ar, .help-3-txt{
    width:100%;
    text-align:center;
    font-size:1em;
    color: #dbb550;
}
.help-3-ar{
    font-size:1.4em;
}
.help-3-cont{
    height:100px;
    margin-bottom:-100px;
}
.menu-ls sup{
  text-decoration: none;
  text-align: center;
  padding-top: 5px;
  font-size: 0.6em;
  height: 12px;
  width: 12px;
  display: inline-block;
  background-color: white;
  color: black;
  border-radius: 100%;
  position:relative;
  top:-6px;
  left:3px;
}

/*
* CHUNK PAGE
*/
.prev-content{
    margin-top:-30px;
}
.prev-meta{
    position:absolute;
    top:50px;
    width:80%;
    left:10%;
    height:400px;
    margin:0 auto;
    margin-top:-30px;
    padding-top:30px;
    background-color:rgba(0,0,0,0.4);
}
.prev-title{
    font-size:2.3em;
}
.prev-sub{
    margin-top:10px;
    margin-bottom:20px;
}
.prev-ntts{
    margin-top:50px;
}
.prev-thms, .prev-plcs{
    width:50%;
    float:left;
    padding-right:20px;
}

.prev-thms div, .prev-plcs div{
    font-size:0.7em;
}

.prev-thms span, .prev-plcs span{
    text-transform: uppercase;
}
.videogular-container {
    width: 100%;
    height: 320px;
    margin: auto;
    overflow: hidden;
}

videogular vg-media video{
    width:640px !important;
    height:480px !important;
    float:right;
    margin-right:10%;
}
.prev-txt{
    width:640px;
    float:right;
    margin-right:10%;
    margin-top:-30px;
    height:300px;
}

.prev-shade{
    width:640px;
    height:480px;
    background-color:rgba(0,0,0,0.4);
    position:absolute;
    top:0;
    left:0;
}
.prev-close{
    display: block;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 20px;
    border: 2px solid white;
    position: absolute;
    right: -40px;
    top: 10px;
    border-radius: 100%;
}
.play-meta{
    width:30%;
    float:left;
    height:600px;
}
.play-txt{
    width:60%;
    float:left;
    height:600px;
  padding-left:10px;
}
.play-cont{
    width:100%;
    height:100%;
    padding:25px;
}
.play-title{
  font-size:2em;
  line-height:1em;
}
.play-title:nth-child(n+2){
  margin-top:15px;
}

.play-sub{
  font-size:0.5em;
  margin-top:5px;
  line-height:1.2em;
}
.play-thms div,.play-plcs div{
  font-size:0.7em;
}
.play-thms, .play-plcs{
  margin-bottom:10px;
  line-height:1.2em;
}
.play-ntt{
  font-size:0.9em;
  text-transform:uppercase;
}
.play-ntts{
  margin-top:30px;
}
.play-ctrls{
  width:100px;
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content:space-between;
  margin: 0 auto;
  clear: both;
  margin-top:20px;
}
.play-ctrls div{
  width:30px;
  height:30px;
  font-size:25px;
  text-align: center;
}

.play-go{
  border:2px solid white;
  border-radius: 50%;
  line-height:26px;
}
.play-go .ion-ios-play{
  padding-left: 2px;
  font-size: 0.9em;
}

.play-go .ion-ios-pause{
  font-size: 0.9em;
}
